
<div class="container mt-5 px-2">
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <button class="btn btn-success" [routerLink]="['/livreur/add-livreur']" >Ajouter livreur</button>
  </div>
  <div class="table-responsive">
    <table class="table table-responsive table-striped table-hover table-bordered">
      <thead>
      <tr class="bg-light">
      
          <th scope="col">Identifiant</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Ville</th>
          <th scope="col">Adresse E-mail</th>
          <th scope="col">delete</th>
          <th scope="col">Update</th>
          <th scope="col">view more</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let currentLivreur of listLivreur">
        <td>{{currentLivreur.idLiv}}</td>
        <td>{{currentLivreur.NomLiv}}</td>
        <td>{{currentLivreur.PrenomLiv}}</td>
        <td>{{currentLivreur.AdresseLiv}}</td>
        <td>{{currentLivreur.VilleLiv}}</td>
        <td><button class="btn btn-danger" (click)="delete(currentLivreur.idLiv)">Delete</button></td>
        <td><button class="btn btn-success" (click)="update(currentLivreur)">Update</button></td>
        <td><a class="btn btn-warning" [routerLink]="['/livreur',currentLivreur.idLiv]" >view More</a></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
  
                  