<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scroll-wrapper scrollbar-inner" style="position: relative;"><div class="scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 697.6px;">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
        <img src="/assets/shared-assets/logo1.png" class="logo " style="width: 60%;" alt="logo">
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/main-dashboard">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product">
              <i class="fab fa-product-hunt text-orange"></i>
              <span class="nav-link-text">Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/provider">
              <i class="fas fa-hands-helping text-primary"></i>
              <span class="nav-link-text">Providers</span>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/liste-facture">
              <i class="ni ni-cart text-primary"></i>
              <span class="nav-link-text">Facture</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/show-all-user">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/livreur">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Livreurs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/livraison">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">Livraison</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stock">
              <i class="fas fa-boxes text-pink"></i>
              <span class="nav-link-text">Stock</span>
            </a>
          </li>
        </ul>



      </div>
    </div>
  </div><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 655px; top: 0px;"></div></div></div></div>
</nav>
