
<div class="container mt-5"><div class="row d-flex justify-content-center">
<div class="col-md-6">
  <div class="card px-5 py-5" id="form1">
    <form class="form-data" #f="ngForm">
      <div class="forms-inputs mb-4"> <span>Old password</span>
        <input  type="password"  class="form-control" [(ngModel)]="OldPassword" id="opass" name="opass"  required  #opw="ngModel">
        <div class="alert alert-danger" *ngIf="opw.invalid && opw.touched">
          <div *ngIf="opw.hasError('required')"> this is a required field</div>
        </div>
      </div>
      <div class="forms-inputs mb-4"> <span>New Password</span>
        <input  type="password" class="form-control" id="npass" name="npass" [(ngModel)]="NewPassword" required  #npw="ngModel">
        <div class="alert alert-danger" *ngIf="npw.invalid && npw.touched">
          <div *ngIf="npw.hasError('required')"> this is a required field</div>
        </div>
      </div>

      <div class="mb-3 btn-group w-100">
        <button class="btn btn-danger" type="button" [routerLink]="['/Dashbord']"> Cancel </button>
        <button  class="btn btn-success " type="submit" [disabled]="f.invalid" (click)="Reset()">Change</button>
      </div>
      <div class="alert alert-danger" *ngIf="msg!=''">
        <div> {{msg}}</div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
