<div class="table-responsive" >
    <table class="table table-responsive table-striped table-hover table-bordered" >
      <thead>
      <tr class="bg-light">
        <th scope="col" width="5%">picture</th>
        <th scope="col" >id</th>
        <th scope="col" >code</th>
        <th scope="col">libelle</th>
        <th scope="col" >Description</th>

        <!--<th scope="col" >Quantity</th>-->
        <th scope="col" >Prix</th>

       <!-- <th scope="col"  >Category</th>-->
        <th scope="col"  >nbrLike</th>
        
      </tr>


      </thead>
      <tbody>
      <tr *ngFor="let product of listProduct">
        <td><img class="img-fluid" src="{{product.picture}}"></td>
        <td>{{product.id}}</td>
        <td>{{product.code}}</td>
        <td>{{product.libelle}}</td>
        <td>{{product.description}}</td>
       <!-- <td>{{product.s.qte}}</td>-->
        <td>{{product.prixUnitaire}}</td>

        <!--<td>{{product.detailproduit.CategorieProduit}}</td>-->
        <td>{{product.nbrLike}}</td>
       
      </tr>
      </tbody>
    </table>
  </div>
