.map{
    width: 100%;
    height: 100vh;
<<<<<<< Updated upstream
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
}

.tablelivraison{
    width: 100%;
    height:100vh
<<<<<<< Updated upstream
=======
>>>>>>> a4c8080d7533e3db9c7d4355157913b8745fb1d7
=======
>>>>>>> Stashed changes
}