

<div class="container"><div class=" text-center mt-5 ">
  <button class="btn btn-success m-b-25" (click)="fixProduct()">Go back</button>
</div>
  <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form id="contact-form" role="form"  #f="ngForm" [formGroup]="myForm" >
              <div class="controls">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group"><label for="Title">Title of the Product</label>
                      <input type="text" name="title" id="Title" class="form-control"
                              [(ngModel)]="product.libelle" formControlName="title">
                       </div>
                   <div class="col-md-12">
                      <div class="form-group">
                        <label for="pictures">Picture</label>

                        <input type="file" name="picture" id="pictures" class="form-control"
                               #np="ngModel" required minlength="3" [(ngModel)]="product.picture"
                        >
                        <div class="alert alert-danger" *ngIf="np.touched&&np.invalid">
                          <div *ngIf="np.hasError('required')">picture URL required</div>
                          <div *ngIf="np.hasError('minlength')">picture URL min length is 3</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="quantity">Quantity</label>
                          <input type="number" name="quantity" id="quantity" class="form-control"
                                 #nq="ngModel" required  [(ngModel)]="product.quantite"
                          >
                          <div class="alert alert-danger" *ngIf="nq.touched&&nq.invalid">
                            <div *ngIf="nq.hasError('required')">quantity required</div>
                          </div> </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">  <label for="price">Price</label>
                          <input type="number" name="price" id="price" class="form-control"
                                 #nprice="ngModel" required  [(ngModel)]="product.prixUnitaire">
                          <div class="alert alert-danger" *ngIf="nprice.touched&&nprice.invalid">
                            <div *ngIf="nprice.hasError('required')">price required</div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for=" category">Category of the product</label>
                    <select class="form-select" aria-label="Default select example" id=" category" name="category " #ct="ngModel" [(ngModel)]="product.category">
                      <option selected>Category Product</option>
                      <option value="Vestimentaire">Vestimentaire</option>
                      <option value="Alimentaire">Alimentaire</option>
                      <option value="Electromenager">Electromenager</option>
                    </select>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group"> <label for="forms_message">Description</label> <textarea id="form_description"  input type="text" name="description"  class="form-control"
                                                                                                      #nd="ngModel" required minlength="3" [(ngModel)]="product.description"
                    ></textarea> </div>
                    <div class="col-md-12">
                      <label for="dateCreation">Start date:</label>

                      <input type="date" id="start" name="trip-start"
                             [(ngModel)]="product.dateCreation"
                             min="2021-01-01" max="2030-12-31">

                    </div>

                    <br>
                    <br>
                    <button class="btn btn-outline-success " (click)="save()"
                            [disabled]="f.invalid">
                      save
                    </button>

                    &nbsp;&nbsp;
                    <button class="btn btn-outline-warning" (click)="f.reset()">reset</button>
                  </div>
                </div>

              </div>
            </form>

          </div>

        </div> <!-- /.8 -->
      </div> <!-- /.row-->
    </div>
  </div>
</div>

