
<div class="container-fluid px-1 py-2 mx-auto">

  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <button class="btn btn-success" (click)="return()">Return</button>
      <div class="card">
        <h5 class="text-center mb-4">Welcome</h5>
        <form class="form-card" #f="ngForm">
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">First name<span class="text-danger"> *</span></label>
              <input type="text" name="fname"  id="fname" class="form-control" [(ngModel)]="user.firstName" required minlength="3"  #fn="ngModel">
              <div class="alert alert-danger" *ngIf="fn.invalid && fn.touched">
                <div *ngIf="fn.hasError('required')"> first name is a required field</div>
                <div *ngIf="fn.hasError('minlength')"> first name minlength ies equal to 3</div>
              </div>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label>
              <input type="text" id="lname" name="lname" [(ngModel)]="user.lastName" required minlength="3"  #ln="ngModel">
              <div class="alert alert-danger" *ngIf="ln.invalid && ln.touched">
                <div *ngIf="ln.hasError('required')"> last name is a required field</div>
                <div *ngIf="ln.hasError('minlength')"> last name minlength ies equal to 3</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">email<span class="text-danger"> *</span></label>
              <input type="text" id="email" name="email" [(ngModel)]="user.email"  required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" #em="ngModel">
              <div class="alert alert-danger" *ngIf="em.invalid && em.touched">
                <div *ngIf="em.hasError('required')"> email is a required field</div>
                <div *ngIf="em.hasError('pattern')"> respect this format test@gmail.com</div>
              </div>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">password<span class="text-danger"> *</span></label>
              <input type="password" id="pass" name="pass" [(ngModel)]="user.password" required  #pw="ngModel">
              <div class="alert alert-danger" *ngIf="pw.invalid && pw.touched">
                <div *ngIf="pw.hasError('required')"> password is a required field</div>
              </div>
            </div>
          </div>

          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Job<span class="text-danger"> *</span></label>
              <input type="text" id="job" name="job" [(ngModel)]="user.profession" required minlength="3"  #jb="ngModel" >
              <div class="alert alert-danger" *ngIf="jb.invalid && jb.touched">
                <div *ngIf="jb.hasError('required')"> job title is a required field</div>
                <div *ngIf="jb.hasError('minlength')"> job title minlength ies equal to 3</div>
              </div>
            </div>
            <div class="form-group col-6 flex-column d-flex">
              <label class="form-control-label px-3">picture URL</label>
              <input type="text" id="picture" name="picture" [(ngModel)]="user.picture">
            </div>
          </div>

          <div class="row justify-content-between text-left">
            <div class="form-group col-12 flex-column d-flex">
              <label class="form-control-label px-3">Date of Birth<span class="text-danger"> *</span></label>
              <input type="date" id="dob" name="dob"  [(ngModel)]="user.birthDate" required  #dob="ngModel">
              <div class="alert alert-danger" *ngIf="dob.invalid && dob.touched">
                <div *ngIf="dob.hasError('required')"> Date of birth is a required field</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="form-group col-auto"> <button  class="btn-primary" (click)="f.reset()">Reset</button> </div>
            <div class="form-group col-auto"> <button type="submit" class="btn-primary" (click)="save()"  [disabled]="f.invalid">Register</button> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
