<div class="container mt-5 px-2">
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <button class="btn btn-success" (click)="addProduct()">Add Product</button>
  </div>

  <div class="chercher-produit">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
           autocomplete="off" placeholder="&#61442;  Taper pour chercher..">
  </div>
  <br><br>

  <div class="table-responsive" >
    <table class="table table-responsive table-striped table-hover table-bordered" >
      <thead>
      <tr class="bg-light">
        <th scope="col" width="5%">picture</th>
        <th scope="col" >id</th>
        <th scope="col" >code</th>
        <th scope="col">libelle</th>
        <th scope="col" >Description</th>

        <!--<th scope="col" >Quantity</th>-->
        <th scope="col" >Prix</th>

       <!-- <th scope="col"  >Category</th>-->
        <th scope="col"  >nbrLike</th>
        <th scope="col" >delete</th>
        <th scope="col"  >Update</th>
        <th scope="col"  >view more</th>
      </tr>


      </thead>
      <tbody>
      <tr *ngFor="let product of listProduct| filter:searchText">
        <td><img class="img-fluid" src="{{product.picture}}"></td>
        <td>{{product.id}}</td>
        <td>{{product.code}}</td>
        <td>{{product.libelle}}</td>
        <td>{{product.description}}</td>
       <!-- <td>{{product.s.qte}}</td>-->
        <td>{{product.prixUnitaire}}</td>

        <!--<td>{{product.detailproduit.CategorieProduit}}</td>-->
        <td>{{product.nbrLike}}</td>
        <td><button class="btn btn-danger" (click)="delete(product)">Delete</button></td>
        <td><button class="btn btn-success" (click)="update(product)">Update</button></td>
        <td><a class="btn btn-warning" [routerLink]="['/product',product.id]" >view More</a></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

